<div class="container centerContainerLarge">
  <div class="logForm">

<h2>Edit profil </h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="emailpwd">
      <div class="email_left leftaligned">
    <%= f.input :name %>
      </div>

      <div class="pwd_right">
        <%= f.input :email, required: true, autofocus: true %>
      </div>
      </div>
      </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="form-inputs">
    <div class="emailpwd">
      <div class="email_left leftaligned">
        <%= f.input :password,hint: "leave it blank if you don't want to change it",required: false,input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="pwd_right">
        <%= f.input :password_confirmation,required: false,input_html: { autocomplete: "new-password" } %>
      </div>
    </div>
    </div>

    <div class="form-inputs">
    <div class="emailpwd">
      <div class="email_left leftaligned">
        <%= f.input :current_password,hint: "we need your current password to confirm your changes",required: true,input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="pwd_right">
        <%= f.input :photo, as: :file %>
      </div>
    </div>
    </div>



  <div class="form-actions btnSubmit3">
    <%= f.button :submit, "Update"%>

  </div>
<% end %>

<div>
  <form action="<%= registration_path(resource_name) %>" accept-charset="UTF-8" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Cancel my account" data-confirm="Are you sure?" data-turbo-confirm="Are you sure?" data-disable-with="Processing..." class="form-actions btnSubmit4">
  </form>
</div>

<%= link_to "Back", :back, class: "btn btn-secondary mt-3" %>

    </div>
  </div>
