<div class="container centerContainerSmall">

  <div class="logForm">
    <h2>Forgot your password ?</h2>
    <form action="<%= session_path(resource_name) %>" method="post">
      <div class="form-inputs">
        <div class="emailpwd">
          <div class="email_left leftaligned">
            <h3>Email</h3>
            <label for="<%= resource_name %>_email"></label>
            <input type="email" size="52" id="<%= resource_name %>_email" name="<%= resource_name %>[email]" required="true" autofocus="true" autocomplete="email" class="inputText">
          </div>
         </div>
      </div>

      <div class="form-actions">
        <button  class="btnSubmitSmall" type="submit">Send me reset password instructions</button>
      </div>
    </form>
    <%= render "devise/shared/links" %>
  </div>
</div>
