<div>
  <div class="row">
    <div class="col-2">
      <%= render "shared/navmenu" %>
    </div>

    <div class="col-10">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card text-center">
              <div class="card-body custom-card-body">
                <% if @realized_projects > 1 %>
                  <h5 class="card-title">Projets réalisés: <%= @realized_projects %></h5>
                <% else %>
                  <h5 class="card-title">Projet réalisé: <%= @realized_projects %></h5>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-center">
              <div class="card-body custom-card-body">
                <% if @total_projects > 1 %>
                  <h5 class="card-title">Projets en cours: <%= @total_projects %> </h5>
                <% else %>
                  <h5 class="card-title">Projet en cours: <%= @total_projects %> </h5>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row mt-6">
            <div class="col-md-9">
              <h2 class="h2-black">Mes projets</h1>
            </div>
            <div class="col-md-3 text-right mt-5">
              <!-- button Modal -->
              <% if @user.pro %>
                <button type="button" class="main-btn" data-bs-toggle="modal" data-bs-target="#newProjectModal">
                  Ajouter Nouveau Projet
                </button>
              <% end %>
              <!-- Modal -->
              <div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="newProjectModal">Ajouter Nouveau Projet</h5>
                        <button type="button" class="main-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                       <div class="modal-body">
                        <%= render "newproject", project: @new_project_path %>
                       </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <% @projects.each_slice(3) do |project_group| %>
              <div class="row">
                <% project_group.each do |project| %>
                  <div class="col-md-4 mb-4">
                    <div class="card">
                      <%  total_days = 0 %>
                      <%  actual_days = 0 %>
                      <% project.tasks.each do |task| %>
                        <% total_days += (task.end_at.to_date - task.start_at.to_date).to_f %>
                        <% actual_days += task.progress.to_f / 100 *(task.end_at.to_date - task.start_at.to_date) %>
                      <% end %>
                      <% project.progress = (100 * actual_days / total_days).round(0) %>

                      <div class="card-body fixed-height">
                        <div class="container">
                          <div class="img-container">
                            <%= cl_image_tag project.photo.key, crop: :fill, class: "img-thumbnail" %>
                          </div>
                        </div>
                        <div class= "card-content">
                          <h5 class="card-title-index"><%= project.title %></h5>
                          <div class="text-maxheight">
                            <p class="card-text pb-1"><%= project.description %></p>
                          </div>
                          <!-- Barre de progression du planning -->
                          <div data-controller="color-progression">
                            <div class="w3-round-large mt-5" data-color-progression-target="completeBar" data-value="<%= project.progress%>">
                              <% s = "width:#{project.progress}%" %>
                              <div class="w3-container w3-round-large" style="<%= s %>" data-color-progression-target="progressBar">
                                  <%= project.progress.round %> %
                              </div>
                            </div>
                          </div>
                          <%= link_to "Voir", project_path(project), class: "main-btn-rounded", id: "btn-margin" %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% if project_group.size < 3 %>
                  <div class="col-md-<%= 4 * (3 - project_group.size) %>"></div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="row mt-6">
            <div class="col-md-2 text-md-right mt-5">
              <% if @show_all_projects %>
                <%= link_to "Réduire", projects_path, class: "btn btn-see mt-3 mb-5" %>
              <% else %>
                <%= link_to "Tout voir", projects_path(show_all: true), class: " btn btn-see mt-3 mb-5" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
