<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Projets réalisés</h5>
          <!-- Contenu à ajouter ultérieurement -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Projets en cours: <%= @total_projects %> </h5>
          <!-- Contenu à ajouter ultérieurement -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-6">
      <div class="col-md-9">
        <h1 class="mt-5 mb-4">Mes projets</h1>
      </div>
      <div class="col-md-3 text-right mt-5">
        <!-- page à coder -->
        <%= link_to "Ajouter Nouveau Projet", new_project_path, class: "btn btn-see" %>
      </div>
    </div>

    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body fixed-height">
              <div class="container">
                 <div class="img-container">
                   <%= cl_image_tag project.photo.key, crop: :fill, class: "img-thumbnail" %>
                 </div>
              </div>
              <h5 class="card-title"><%= project.title %></h5>
              <div class="text-maxheight">
                <p class="card-text"><%= project.description %></p>
              </div>
              <!-- Barre de progression du planning -->
              <p><strong>Progression</strong></p>
              <div class="w3-darkgreen w3-round-large">
                <% s = "width:#{project.progress}%" %>
                <div class="w3-container w3-green w3-round-large" style="<%= s %>">
                  <% if project.progress.round < 20 %>
                    <p class="greentext"></p>
                  <% else %>
                    <%= project.progress.round %>%
                  <% end %>
                </div>
              </div>
              <%= link_to "Voir le projet", project_path(project), class: "btn btn-see mt-5" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>


      <% if @show_all_projects %>
        <%= link_to "Réduire", projects_path, class: "btn btn-see mt-3 mb-5" %>
      <% else %>
        <%= link_to "Tout voir", projects_path(show_all: true), class: " btn btn-see mt-3 mb-5" %>
      <% end %>


  </div>


</div>
