<div class="container">
  <%= link_to "Retour au tableau de bord", projects_path, class: "btn btn-primary" %>
  <div class="card">
    <div class="card-presentation">
      <img src="" alt="Image du projet" class="img-projet">
      <h5 class="card-title"><%= @project.title %></h5>
      <p class="card-text"><%= @project.description %></p>
      <div class="card-progression">

        <div class="cardsmall">
          <p><strong>Planning</strong></p>
          <div class="w3-darkgreen  w3-round-large">
            <% s = "width:#{@project.progress}%" %>
            <div class="w3-container w3-green w3-round-large" style= <%=s%> >
              <%= (@project.progress).round %>%
            </div>
          </div>

        </div>
        <div class="cardsmall">
          <p><strong>Budget</strong></p>
          <div class="w3-darkblue w3-round-large">
            <% s = "width:#{100 * (@project.total_expenses/@project.customer_budget)}%" %>
            <div class="w3-container w3-blue w3-round-large" style=<%= s%>>
              <%= (100 * (@project.total_expenses/@project.customer_budget)).round %>%
            </div>
          </div>
        </div>

        <div class="cardsmall">
          <p><strong>Client</strong></p>
          <p>Toto l'hasticot<%= @project.customer_id %> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="onglets">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active myTab" id="nav-planning-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" data-controller="tabs-link" data-action="click->tabs-link#revealPlanning">Planning</button>
        <button class="nav-link myTab" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" data-controller="tabs-link" data-action="click->tabs-link#revealBudget">Budget</button>
        <button class="nav-link myTab" id="nav-documents-tab" data-bs-toggle="tab" data-bs-target="#nav-documents" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" data-controller="tabs-link" data-action="click->tabs-link#revealDocuments">Documents</button>
        <button class="nav-link myTab" id="nav-photos-tab" data-bs-toggle="tab" data-bs-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false" data-controller="tabs-link" data-action="click->tabs-link#revealPhotos">Photos</button>
        <button class="nav-link myTab" id="nav-messagerie-tab" data-bs-toggle="tab" data-bs-target="#nav-messagerie" type="button" role="tab" aria-controls="nav-messagerie" aria-selected="false" data-controller="tabs-link" data-action="click->tabs-link#revealMessagerie">Messagerie</button>
      </div>
    </nav>
    <div class="tab-content ongletscontainer" id="nav-tabContent" data-tabs-link-target="content">
      <div class="tab-pane fade show active" id="nav-planning" role="tabpanel" aria-labelledby="nav-planning-tab" tabindex="0" data-tabs-link-target="contentPlanning">
        Ceci est l'onglet planning
      </div>
      <div class="tab-pane fade d-none" id="nav-budget" role="tabpanel" aria-labelledby="nav-budget-tab" tabindex="0" data-tabs-link-target="contentBudget">
        Ceci est l'onglet budget
      </div>
      <div class="tab-pane fade d-none" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab" tabindex="0" data-tabs-link-target="contentDocuments">
        Ceci est l'onglet documents
      </div>
      <div class="tab-pane fade d-none" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab" tabindex="0" data-tabs-link-target="contentPhotos">
        Ceci est l'onglet photos
      </div>
      <div class="tab-pane fade d-none" id="nav-messagerie" role="tabpanel" aria-labelledby="nav-messagerie-tab" tabindex="0" data-tabs-link-target="contentMessagerie">
        Ceci est l'onglet messagerie
      </div>
    </div>

  </div>
</div>
