<div>
  <div class="row">
    <div class="col-1 nav-lat-menu">
      <%= render "shared/navmenu" %>
    </div>

    <div class="col-11">
  <div class="container">
  <div class="row">

    <div class="card">
      <div class="card-presentation">
        <%= cl_image_tag @project.photo.key, crop: :fill, class: "img-fluid full-width mb-8" %>
        <i class="fa-regular fa-pen-to-square pen"></i>
      </div>

      <h5 class="card-title"><%= @project.title %></h5>
      <p class="card-text"><%= @project.description %></p>

      <div class="card-caracteristic">
        <div class="cardsmall">
          <p><strong>Planning</strong></p>
          <div class="w3-darkgreen  w3-round-large">
            <% s = "width:#{@project.progress}%" %>
            <div class="w3-container w3-green w3-round-large" style= <%=s%>>
              <% if (@project.progress).round < 10 %>
                <p class="greentext"> </p>
              <% else  %>
                <%= (@project.progress).round %>
              <% end %>
              %
            </div>
          </div>
        </div>

      <div class="cardsmall">
        <p><strong>Budget</strong></p>
        <div class="w3-darkblue w3-round-large">
          <% s = "width:#{100 * (@project.total_expenses/@project.customer_budget)}%" %>
          <div class="w3-container w3-blue w3-round-large" style=<%= s%>>
            <%= (100 * (@project.total_expenses/@project.customer_budget)).round %>
            %
          </div>
        </div>
      </div>

      <div class="cardsmall">
        <p><strong>Client</strong></p>
        <p><%= @customer.name %> </p>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="onglets" data-controller="tabs-link" >
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active myTab" id="nav-planning-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" data-action="click->tabs-link#revealPlanning">Planning</button>
        <button class="nav-link myTab" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" data-action="click->tabs-link#revealBudget">Budget</button>
        <button class="nav-link myTab" id="nav-documents-tab" data-bs-toggle="tab" data-bs-target="#nav-documents" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" data-action="click->tabs-link#revealDocuments">Documents</button>
        <button class="nav-link myTab" id="nav-photos-tab" data-bs-toggle="tab" data-bs-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false" data-action="click->tabs-link#revealPhotos">Photos</button>
        <button class="nav-link myTab" id="nav-messagerie-tab" data-bs-toggle="tab" data-bs-target="#nav-messagerie" type="button" role="tab" aria-controls="nav-messagerie" aria-selected="false" data-action="click->tabs-link#revealMessagerie">Messagerie</button>
      </div>
    </nav>

    <div class="tab-content ongletscontainer" id="nav-tabContent">

      <div class="tab-pane fade show active fixedheight" id="nav-planning" role="tabpanel" aria-labelledby="nav-planning-tab" tabindex="0" data-tabs-link-target="contentPlanning">
        <% tasks_name = [] %>
        <% tasks_start = [] %>
        <% tasks_end = [] %>
        <% tasks_price = [] %>
        <% tasks_progress = [] %>
        <% @tasks.each do |task| %>
          <% tasks_name << task.name %>
          <% tasks_end << task.end_at%>
          <% tasks_start << task.start_at%>
          <% tasks_price << task.budget %>
          <% tasks_progress << task.progress %>
        <% end %>
      <canvas id= "ganttChart" data-controller="gantt" >
        <div data-gantt-target="projectName" data-value="<%= @project.title %>"></div>
        <div data-gantt-target="tasksName" data-value = "<%= tasks_name %>"> </div>
        <div data-gantt-target="tasksStart" data-value = "<%= tasks_start %>"> </div>
        <div data-gantt-target="tasksEnd" data-value = "<%= tasks_end %>"> </div>
        <div data-gantt-target="tasksProgress" data-value = "<%= tasks_progress %>"> </div>
      </canvas>
    </div>


      <div class="tab-pane fade d-none fixedheight" id="nav-budget" role="tabpanel" aria-labelledby="nav-budget-tab" tabindex="1" data-tabs-link-target="contentBudget">
        <div class="pt-5">
          <div class="chart">
            <canvas id = "budgetgraph" data-controller="line-chart">
              <div data-line-chart-target="tasksName" data-value = "<%= tasks_name %>"> </div>
              <div data-line-chart-target="tasksPrice" data-value = "<%= tasks_price %>"> </div>
            </canvas>
          </div>
        </div>
      </div>


      <div class="tab-pane fade d-none fixedheight" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab" tabindex="2" data-tabs-link-target="contentDocuments">

        <%= form_with(url: documents_path, multipart: true) do |form| %>
          <%= form.file_field :file, class: 'd-none', id: 'photo-upload', accept: '.pdf' %>
          <%= form.label :photo, '📝 Charger un document', class: 'upload-photo', for: 'photo-upload' %>
          <%= form.hidden_field :id, value: @project.id %>
          <%= form.submit "Télécharger", class: 'upload-photo' %>
        <% end %>

        <% if @upload_url %>
            <p>Fichier téléchargé avec succès! Voici le lien vers votre fichier : <%= @upload_url %></p>
          <% end %>

          <div class="card-group">
            <% @documents.each do |doc| %>
              <% if doc.type_of_document == "Document" %>
                <div class="onephoto">
                  <%= link_to(cl_image_tag( doc.name ), doc.url, target: "_blank" ) %>
                  <a href=<%= doc.url %> target="_blank" class="doclink"><%= doc.name %></a>
                </div>
              <% end %>
            <% end %>
          </div>

      </div>
      <div class="tab-pane fade d-none fixedheight" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab" tabindex="3" data-tabs-link-target="contentPhotos">

        <%= form_with(url: documents_path, multipart: true) do |form| %>
          <%= form.file_field :file, class: 'd-none', id: 'photo-upload', accept: '.png,.gif,.jpeg,.jpg' %>
          <%= form.label :photo, '📸 Charger une photo', class: 'upload-photo', for: 'photo-upload' %>
          <%= form.hidden_field :id, value: @project.id %>
          <%= form.submit "Télécharger", class: 'upload-photo' %>
        <% end %>

          <% if @upload_url %>
            <p>Fichier téléchargé avec succès! Voici le lien vers votre fichier : <%= @upload_url %></p>
          <% end %>

          <div class="card-group">
            <% @documents.each do |doc| %>
              <% if doc.type_of_document == "Photo" %>
                <div class="onephoto">
                  <%= link_to(cl_image_tag( doc.name ), doc.url, target: "_blank" ) %>
                  <a href=<%= doc.url %> target="_blank" class="doclink"><%= doc.name %></a>
                </div>
              <% end %>
            <% end %>
          </div>

      </div>


      <div class="tab-pane fade d-none scrollonglet" id="nav-messagerie" role="tabpanel" aria-labelledby="nav-messagerie-tab" tabindex="4" data-tabs-link-target="contentMessagerie">
        <div class="container chatroom" id="chatmsg">
          <div class="messages"
            data-controller="chatroom-subscription"
            data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <%#= render "messages/message", message: message %>
              <% if message.user.nickname == @project.user.nickname %>
                  <div class="messagePro #{@message.id}">
                    <div class="blue"><p class="white"><%= message.content %></p></div><br>
                    <small class="colgrey txtshiftsmall"><strong><%= message.user.nickname %></strong>
                    <i><%= message.created_at.strftime("le %d/%m/%Y à %H:%M:%S") %></i></small>
                  </div>
              <% else %>
                  <div class="message #{@message.id}">
                    <div class="grey"><p class="white"><%= message.content %></p></div>
                    <small class="colgrey txtshift"><strong><%= message.user.nickname %></strong>
                    <i><%= message.created_at.strftime("le %d/%m/%Y à %H:%M:%S") %></i></small>
                  </div>
              <% end %>
            <% end %>
          </div>

          <div class="msgbox boxrounded" id="txtwrite">
            <%= simple_form_for [@chatroom, @message], remote: true do |f|%>
              <%= f.input :content, id: 'msgtxt', label: false ,input_html: { placeholder: "Message", style: "font-style: italic;"} %>
            <% end %>
          </div>

          <div id="test">
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>
    </div>
  </div>
</div>
